{% extends 'base.html' %} {% block styles %} {{ super() }}
<!-- Your checkout page specific styles -->
<link
  rel="stylesheet"
  type="text/css"
  href="{{ url_for('static', filename='css/checkOutPageStyles/styles.css') }}"
/>
<!-- Google fonts -->
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap"
  rel="stylesheet"
/>
<link
  href="https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@500&display=swap"
  rel="stylesheet"
/>

<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
  integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N"
  crossorigin="anonymous"
/>

{% endblock %} {% block content %}
<div class="container-fluid">
  <div class="row mainContent">
    <!-- LEFT SIDE (Customer Address & Payment Section + Header) -->
    <div class="col-md-7 leftSection">
      <!-- Header Section -->
      <div class="stickyHeader">
        <div class="checkOutHeader">
          <h1>BooksWeLove</h1>
          <div class="checkoutContainer">
            <h2 id="checkoutText">
              Checkout
              <img
                src="/static/assets/Component-Logos/checkOutIcon.png"
                alt="checkout Logo"
                id="checkOutIconLogo"
              />
            </h2>
            <!-- Button does not work, will need to follow up to route to home page but still keep books in cart (payload state) -->
            <button
              type="button"
              id="backToShoppingTextLink"
              class="btn btn-link"
            >
              Back To Shopping
            </button>
            <!-- <h3 id="backToShoppingTextLink">Back To Shopping</h3> -->
          </div>

          <!-- Horizontal Line for Header Separation -->
        </div>
      </div>
      <hr class="horizontalLine" />

      <!-- Billing & Shipping Information Section -->
      <section class="billingAndShipHeader">
        <h2 class="sectionHeader">Billing and Shipping Information</h2>
        <h3 class="instructionsText">Where's this order going?</h3>
        <!-- Client fill out forms -->
        <form class="ml-3 mr-3" id="checkoutForm">
          <!-- ... The form content remains the same ... -->
          <div class="form-row">
            <!-- Row for First Name & Last Name -->

            <!-- First Name -->
            <div class="form-group col-md-6">
              {{ form.first_name.label(class="sr-only") }} {{
              form.first_name(class="form-control", id="FirstNameInput",
              placeholder="First Name *", maxlength=30, required=True) }}
            </div>

            <!-- Last Name -->
            <div class="form-group col-md-6">
              {{ form.last_name.label(class="sr-only") }} {{
              form.last_name(id="LastNameInput", class="form-control",
              maxlength=30, placeholder="Last Name *", required=True) }}
            </div>
          </div>
          <!-- End of First Name & Last Name Row -->

          <div class="form-row">
            <!-- Row for Address & Apt -->

            <!-- Address -->
            <div class="form-group col-md-6">
              {{ form.address.label(for="AddressInput", class="sr-only") }} {{
              form.address(id="AddressInput", class="form-control",
              maxlength=100, placeholder="Address *", required=True) }}
            </div>

            <!-- Apartment (Optional) - Make sure the database can store apartment data if need be -->

            <div class="form-group col-md-6">
              {{ form.apartment.label(for="AptInput", class="sr-only") }} {{
              form.apartment(id="AptInput", class="form-control") }}
            </div>
          </div>
          <!-- End of Address & Apt Row -->

          <div class="form-row">
            <!-- Row for City, State & Zip Code -->

            <!-- City -->
            <div class="form-group col-md-4">
              {{ form.city.label(for="CityInput", class="sr-only") }} {{
              form.city(id="CityInput", class="form-control",
              placeholder="City*" , maxlength="50") }}
            </div>

            <!-- State Dropdown - Including all US States -->
            <div class="form-group col-md-4">
              {{ form.state.label(for="StateDropdown", class="sr-only") }} {{
              form.state(id="StateDropdown", class="form-control") }}
            </div>

            <!-- Zip Code -->
            <div class="form-group col-md-4">
              {{ form.zip_code.label(for="ZipCodeInput", class="sr-only") }} {{
              form.zip_code(id="ZipCodeInput", class="form-control",
              placeholder="Zip Code*", maxlength="10") }}
            </div>
          </div>
          <!-- End of City, State & Zip Code Row -->

          <div class="form-row">
            <!-- Row for Phone & Email -->

            <!-- Phone -->
            <div class="form-group col-md-6">
              {{ form.customer_phone.label(for="PhoneInput", class="sr-only") }}
              {{ form.customer_phone(id="PhoneInput", class="form-control",
              placeholder="Phone", maxlength="15", type="tel") }}
            </div>

            <!-- Email -->
            <div class="form-group col-md-6">
              {{ form.email.label(for="email", class="sr-only") }} {{
              form.email(id="email", class="form-control", placeholder="Email*",
              ) }}
            </div>
          </div>
          <!-- End of Phone & Email Row -->

          <!-- Billing address same as shipping address or not options  -->

          <div class="radio-container">
            <input
              type="radio"
              id="addressChoice1"
              name="addressChoice"
              value="same"
            />
            Billing is the same as Shipping<br />
            <input
              type="radio"
              id="addressChoice2"
              name="addressChoice"
              value="different"
            />
            Billing is different from Shipping<br />
          </div>

          <!-- Billing address form (initially hidden if users chooses `billing address is same as shipping` ) Skipping this feature for time sake-->

          <div id="billingAddressForm" style="display: none">
            <!-- Address input -->
            <div class="form-row">
              <!-- Row for Address & Apt -->

              <!-- Address -->
              <div class="form-group col-md-6">
                <label for="BillingAddressInput" class="sr-only"
                  >Address:</label
                >
                <input
                  id="BillingAddressInput"
                  class="form-control"
                  type="text"
                  maxlength="100"
                  placeholder="Address *"
                  required
                />
              </div>

              <!-- Apartment -->
              <div class="form-group col-md-6">
                <label for="BillingAptInput" class="sr-only">Apartment:</label>
                <input
                  id="BillingAptInput"
                  class="form-control"
                  type="text"
                  maxlength="10"
                  placeholder="Apartment/Floor/Suite"
                />
              </div>
            </div>
            <!-- End of Address & Apt Row -->

            <div class="form-row">
              <!-- Row for City, State & Zip Code -->

              <!-- City -->
              <div class="form-group col-md-4">
                <label for="BillingCityInput" class="sr-only">City:</label>
                <input
                  id="BillingCityInput"
                  class="form-control"
                  type="text"
                  maxlength="50"
                  placeholder="City *"
                  required
                />
              </div>

              <!-- State Dropdown - Including all US States -->
              <div class="form-group col-md-4">
                <label for="BillingStateDropdown" class="sr-only">State:</label>
                <select id="BillingStateDropdown" class="form-control">
                  <option value="" selected>State *</option>
                  <option value="AL">Alabama</option>
                  <option value="AK">Alaska</option>
                  <option value="AZ">Arizona</option>
                  <option value="AR">Arkansas</option>
                  <option value="CA">California</option>
                  <option value="CO">Colorado</option>
                  <option value="CT">Connecticut</option>
                  <option value="DE">Delaware</option>
                  <option value="DC">District Of Columbia</option>
                  <option value="FL">Florida</option>
                  <option value="GA">Georgia</option>
                  <option value="HI">Hawaii</option>
                  <option value="ID">Idaho</option>
                  <option value="IL">Illinois</option>
                  <option value="IN">Indiana</option>
                  <option value="IA">Iowa</option>
                  <option value="KS">Kansas</option>
                  <option value="KY">Kentucky</option>
                  <option value="LA">Louisiana</option>
                  <option value="ME">Maine</option>
                  <option value="MD">Maryland</option>
                  <option value="MA">Massachusetts</option>
                  <option value="MI">Michigan</option>
                  <option value="MN">Minnesota</option>
                  <option value="MS">Mississippi</option>
                  <option value="MO">Missouri</option>
                  <option value="MT">Montana</option>
                  <option value="NE">Nebraska</option>
                  <option value="NV">Nevada</option>
                  <option value="NH">New Hampshire</option>
                  <option value="NJ">New Jersey</option>
                  <option value="NM">New Mexico</option>
                  <option value="NY">New York</option>
                  <option value="NC">North Carolina</option>
                  <option value="ND">North Dakota</option>
                  <option value="OH">Ohio</option>
                  <option value="OK">Oklahoma</option>
                  <option value="OR">Oregon</option>
                  <option value="PA">Pennsylvania</option>
                  <option value="RI">Rhode Island</option>
                  <option value="SC">South Carolina</option>
                  <option value="SD">South Dakota</option>
                  <option value="TN">Tennessee</option>
                  <option value="TX">Texas</option>
                  <option value="UT">Utah</option>
                  <option value="VT">Vermont</option>
                  <option value="VA">Virginia</option>
                  <option value="WA">Washington</option>
                  <option value="WV">West Virginia</option>
                  <option value="WI">Wisconsin</option>
                  <option value="WY">Wyoming</option>
                </select>
              </div>

              <!-- Zip Code -->
              <div class="form-group col-md-4">
                <label for="BillingZipCodeInput" class="sr-only"
                  >Zip Code:</label
                >
                <input
                  id="BillingZipCodeInput"
                  class="form-control"
                  type="text"
                  maxlength="10"
                  placeholder="Zip Code *"
                  required
                />
              </div>
            </div>
            <!-- End of City, State & Zip Code Row -->
          </div>

          <!-- Save and Continue Button  -->
          <div class="form-group col-md-12-right">
            <button
              type="button"
              id="saveAndContinueButtonForAddress"
              class="btn btn-info"
            >
              Save and Continue
            </button>
          </div>
        </form>
      </section>

      <!-- Payment Section -->
      <section class="paymentSection">
        <hr class="horizontalLine" />
        <h2 class="sectionHeader">Payment</h2>
        <!-- Back button in case users want to update/edit their address -->
        <button
          type="button"
          class="btn btn-warning d-none"
          id="backToAddressButton"
        >
          Back to Address
        </button>

        <h3 class="instructionsText">Payment Method</h3>

        <form>
          <!-- Card name -->
          <div class="row">
            <div class="form-group col-md-6">
              {{ form.card_name.label(for='cardName') }} {{
              form.card_name(id='cardName', class='form-control',
              placeholder="e.g 'John Doe'") }}
            </div>

            <!-- Card Number -->
            <div class="form-group col-md-6">
              {{form.card_number.label (for='cardNumber')}}
              {{form.card_number(id='cardNumber', class='form-control',
              placeholder="1234 5678 9012 3456")}}
            </div>
          </div>

          <div class="row">
            <!-- Card Expiration -->
            <div class="form-group col-md-6">
              {{ form.card_expiry.label }} {{
              form.card_expiry(class="form-control", id="cardExpiry",
              placeholder="MM/YY") }}
            </div>

            <!-- CVV security -->
          <div class="form-group col-md-6">
    {{ form.cvv.label }}
    {{ form.cvv(class="form-control", id="cvv", placeholder="CVV") }}
</div>

          <div class = "form-group col-md-6">
               {{ form.payment_type.label(class="spacing-label") }} {{ form.payment_type() }}
            
          </div>


          <!-- Save and Continue Button -->
          <div class="form-group col-md-12-right">
            <button
              type="button"
              id="saveAndContinueButtonPayment"
              class="btn btn-info"
            >
              Save and Continue
            </button>

            <!-- Payment card logos -->
            <div class="payment-logos ml-3">
              <img
                src="/static/assets/cardLogos/visa.png"
                alt="Visa"
                class="card-logo"
              />
              <img
                src="/static/assets/cardLogos/masterCard logo.avif"
                alt="MasterCard"
                class="card-logo"
              />
              <img
                src="/static/assets/cardLogos/AmericanExpressCardLogo.png"
                alt="American Express"
                class="card-logo"
              />

              <img
                src="/static/assets/cardLogos/DiscoverLogo.png"
                alt="Discover"
                class="card-logo"
              />
              <!-- Add other card logos as needed -->
            </div>
          </div>
        </form>
      </section>
    </div>

    <!-- RIGHT SIDE (Order Review) -->
    <div class="col-md-5 rightSection">
      <div class="your-bag-header">
        <h2 id="orderReviewText">Order Review</h2>

        <div class="your-bag-section">
          <div class="bag-content">
            <h3 id="your-bag-text">Your bag</h3>

            <!-- Will add a dynamic book quantity here... How do I  grab the quatity of books now? -->

            <h2 id="users-current-book-count">3 items</h2>
          </div>
        </div>

        <hr class="horizontalLine" />
      </div>

      <!-- Each book's details -->

      <div class="books-list-container">
        <div class="book-item d-flex mb-3">
          <img
            src="/static/assets/bookcoverExamples/TheGreatGatsbyBook.jpg"
            alt="Book Title"
            class="mr-3 book-cover"
          />
          <div>
            <h5>Book Title</h5>
            <p>Author: Author Name</p>
            <p>ISBN: xxxxxxxxxxxx</p>
            <p>Price: $X.XX</p>
            <p>Quantity: 1</p>
          </div>
        </div>

        <!-- ... Assume more book items are listed ...  How do I grab the books now from the state?-->

        
        <div class="book-item d-flex mb-3">
          <img
            src="/static/assets/bookcoverExamples/ToKillAMockingBirdBookCover.webp"
            alt="Book Title"
            class="mr-3 book-cover"
          />
          <div>
            <h5>Book Title</h5>
            <p>Author: Author Name</p>
            <p>ISBN: xxxxxxxxxxxx</p>
            <p>Price: $X.XX</p>
            <p>Quantity: 1</p>
          </div>
        </div>

        <div class="book-item d-flex mb-3">
          <img
            src="/static/assets/bookcoverExamples/mapsOfmeaningCover.webp"
            alt="Book Title"
            class="mr-3 book-cover"
          />
          <div>
            <h5>Book Title</h5>
            <p>Author: Author Name</p>
            <p>ISBN: xxxxxxxxxxxx</p>
            <p>Price: $X.XX</p>
            <p>Quantity: 1</p>
          </div>
        </div>
      </div>

      <hr class="horizontalLine" />

      <!-- Coupon section -->
      <div class="coupon-section">
        <label for="couponCode">Coupon Code:</label>
        <input
          type="text"
          id="couponCode"
          placeholder="Enter your coupon code"
        />
        <button onclick="applyCoupon()" class="btn btn-primary">Apply</button>
      </div>

      <!-- Order Totals -->
      <div class="order-totals mt-5">
        <p>Subtotal: $X.XX</p>
        <p>Set Savings: $X.XX</p>
        <p>Tax: $X.XX</p>
        <p>Shipping: $X.XX</p>
        <div class="grand-total-container">
          <h4>Grand Total: $X.XX</h4>
          <!-- Continue button -->
          {{ form.submit(class="btn btn-success mt-3", id="processOrderButton", label="Checkout") }}

        </div>
      </div>
    </div>
  </div>

  <!-- Scripts -->

  <script src="{{ url_for('static', filename='javascript/script.js') }}"></script>

  <!-- JQuery -->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

  {% endblock content %} {{form.hidden_tag()}}
  
</div>
