{% extends 'base.html' %}
{% block content %} {{ super() }}






<body>

    <!-- Cart button and count -->
    <div class="cart-button">
        <button id="cart-button">Cart <span id="cart-count">0</span></button>   
    </div>

    <!-- Header section with the dropdown menu -->
    <div class="header">
        <div class="dropdown">
            <button class="dropbtn">Menu</button>
            <!-- Dropdown content -->
            <div class="dropdown-content">
                <a href="#">Home</a>
                <a href="#">Genres</a>
                <a href="#">Authors</a>
                <!-- Add more links as needed -->
            </div>
        </div>
    </div>

    <!-- Main content section -->    
    <div class="content">
        <h1>The Best Bookstore</h1> 
        <h3>We really are the best!</h3>
    </div>

    <!-- Large box in the middle of the screen to hold book entries -->
    <div class="large-box" id="book-container"></div>

    <div id="cart-container" class="cart-container"></div>

    <!-- Large box in the middle of the screen to hold book entries -->
    <!-- <div class="large-box" id="book-container">
        
    </div> -->
    
    <!-- Pagination buttons -->
    <!-- <div class="pagination-wrapper">
        <form action="/update" method="POST">
            <button id="next-button">Next</button>
        </form>
        
    </div> -->
    
    
    <div class="pagination-wrapper">
        <!-- <form action="/update" method="POST"> -->
            <!-- <button id="prev-button">Previous</button>
            <button id="next-button">Next</button> -->
        <!-- </form> -->
        
    </div>
    
    
    
    <!-- Include the external JavaScript file -->
    <script src="{{ url_for('static', filename='js/home.js') }}"></script>

    <!-- About us section-->
    <!-- <section class="about-us">
        <h2><a href="{{ url_for('home')}}">Home</a></h2>
        <h2><a href="{{ url_for('about_us_page')}}">About Us</a></h2>
        <h2><a href="contact.html">Contact Us</a></h2>
    </section> -->

    <h2>The cart</h2>
<ul>
    {%for item in session_cart%}
    <li>{{item}}</li>
    {%endfor%}
</ul>
 
</body>

<!-- Footer section-->
<!-- <footer class="footer">
    &copy; 2023 The Best Bookstore. All rights reserved.
</footer> -->




{% endblock content %}