{%extends 'base.html'%}
{% block content %}
<div class = 'jumbotron'>

    <h1>Have a puppy that needs to be adopted?</h1>
    <p>Add a new puppy to our database</p>
    <form method="POST">
        <!-- this line is for secruity -->
        <!-- generates the necessary hidden input fields, including the CSRF token -->
        <!-- A CSRF token is a security measure to prevent cross-site request forgery attacks. -->
        {{form.hidden_tag()}}
        {{form.name.label}}{{form.name}}
        {{form.submit()}}

    </form>
</div>

{% endblock content %}